<mat-toolbar color="primary" class="navbar">
  <div>Image-gallery</div>
  <div>
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      value=""
      [(ngModel)]="displayType">
      <mat-button-toggle value="grid" aria-label="Text align center">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Text align right">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-toolbar>
<!-- prettier-ignore -->
<ng-container *ngIf="displayType === 'grid'; else elseBlock">
    <cdk-virtual-scroll-viewport #scroller [itemSize]="50" class="content">
    <mat-grid-list [cols]="getGridCols()" rowHeight="2:1" gutterSize="10px" class="container">
      <mat-grid-tile *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <img mat-card-image [src]="item.download_url" class="tile-image" alt="Image">
      </mat-grid-tile>
    </mat-grid-list>
    <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
</cdk-virtual-scroll-viewport>
</ng-container>
<ng-template #elseBlock>
  <cdk-virtual-scroll-viewport #scroller [itemSize]="72" class="content">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-list
        *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <mat-list-item cdkDragLockAxis="x" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <img matListItemAvatar [src]="item.download_url" alt="..." />
          <h3 matListItemTitle><span>Author:</span>{{ item.author }}</h3>
          <h3 matListItemTitle><span>Author:</span>{{ item.id }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
