<app-toolbar (viewTypeChange)="onViewTypeChange($event)"></app-toolbar>
<!-- prettier-ignore -->
<ng-container *ngIf="displayType === 'grid'; else elseBlock">
    <cdk-virtual-scroll-viewport #scroller [itemSize]="50" class="content">
    <mat-grid-list [cols]="getGridCols()" rowHeight="2:1" gutterSize="10px" class="container">
      <mat-grid-tile *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <img mat-card-image [src]="item.download_url" class="tile-image" alt="Image">
      </mat-grid-tile>
    </mat-grid-list>
    <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
</cdk-virtual-scroll-viewport>
</ng-container>
<ng-template #elseBlock>
  <cdk-virtual-scroll-viewport #scroller [itemSize]="72" class="content">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-list
        *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <mat-list-item
          class="example-box"
          cdkDragLockAxis="x"
          cdkDrag
          [cdkDragData]="item"
          (click)="onListItemClick(item)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <img matListItemAvatar [src]="item.download_url" alt="..." />
          <h3 matListItemTitle><span>Author:</span>{{ item.author }}</h3>
          <h3 matListItem><span>Author:</span>{{ item.id }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
