<app-toolbar (viewTypeChange)="onViewTypeChange($event)"></app-toolbar>
<!-- prettier-ignore -->
<ng-container *ngIf="displayType === 'grid'; else elseBlock">
    <cdk-virtual-scroll-viewport #scroller [itemSize]="90" class="content">
    <mat-grid-list [cols]="getGridCols()" rowHeight="2:1" gutterSize="10px" class="container">
      <mat-grid-tile *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <img mat-card-image [src]="item.download_url" class="tile-image" alt="Image">
        <mat-grid-tile-footer>{{item.author}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
</cdk-virtual-scroll-viewport>
</ng-container>
<ng-template #elseBlock>
  <cdk-virtual-scroll-viewport #scroller [itemSize]="72" class="content">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-list
        *cdkVirtualFor="let item of imageList$ | async; trackBy: trackByFn">
        <mat-list-item
          class="example-box"
          cdkDragLockAxis="x"
          cdkDrag
          [cdkDragData]="item"
          (click)="onListItemClick(item)"
          cdkDragHandle>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <img matListItemAvatar [src]="item.download_url" alt="..." />
          <h3 matListItemTitle><span>Author:</span>{{ item.author }}</h3>
          <svg
            width="24px"
            fill="currentColor"
            viewBox="0 0 24 24"
            cdkDragHandle
            class="example-handle">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="spinner-item" *ngIf="loading">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          diameter="50"></mat-progress-spinner>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
